body
{
}

.button img 
{
    display: block;
    margin: auto;
    height: 95%;
    width: 95%;
}

span
{
    display: inline-block;
}

.button 
{
    hover: gray;
	display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 7px;
    border: 1px solid black;
    margin: 5px;
}


